doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Get Score OnLuyen.vn
        link(rel='icon' href='https://www.onluyen.vn/wp-content/uploads/2020/02/ico-onluyen-150x150.png' sizes='32x32')
        style.
            table, td, th {
            border: 1px solid #ddd;
            text-align: left;
            }
            table {
            border-collapse: collapse;
            width: 100%;
            }
            th, td {
            padding: 15px;
            }
    body
        header
            h2= title
        for exam, index in exams
            h3 #{index + 1}, #{exam.title}
            table
                tbody
                tr
                    th Bài thi
                    th Số câu đúng
                    th Số câu sai
                    th Điểm số
                for test in exam.tests
                    tr
                        td #{test.title}
                        td #{test.totalCorrect}
                        td #{test.totalIncorrect}
                        if test.maxScore > 0
                            td #{test.totalScore}/#{test.maxScore}
                        else 
                            td #{test.totalScore}
        br
        br
        a(href='/') Quay lại
        br
        br
        label Info: 
        a(href='https://ad.mcmevn.com' target="_blank") PTKDrake 
        br
        label Email: 
        a(href='mailto: admin@mcmevn.com') admin@mcmevn.com
        footer © Copyright 2022 PTKDrake
